<div class="row isi-route" >
	<div class="" style="color:black; font-size: 10pt; width: 100%">
		<b class="btn btn-secondary btn-sm">About <i>PPDB v.0.1</i></b>	
		<hr>
		<div> 
		<!-- style="background-color: rgba(151, 151, 152, 0.27);padding: 20px;width: 80%;margin: 0 auto;border: 5px solid rgba(171, 171, 171, 0.24);"> -->
			<div class="inf" style="text-align: justify;">
				Aplikasi PPDB ini di bikin untuk kepentingan sekolah agar mempermudah proses pedaftaran siswa baru, sehingga diharapkan tidak memakan waktu dan tempat, serta proses pendaftaran bisa terus berjalan. Aplikasi PPDB ini hanya untuk sekolah yang seleksinya menggunakan metode zonasi. Di mana di saat siswa mendaftar menentukan alamat otomatis mendeteksi titik koordinat dan jarak dengan sekolah. Adapun pengembangan aplikasi ini di buat oleh seseorang guru biasa yang kurang kerjaan dan di bantu team support.
				<br>
				<hr>
				<div class="float-left">
					Team support <b style="color:blue"><a href="http://AhliWeb.com">openKobar</a></b> <br>
					<br>
					contact person : <br>
					<b>website : <a href="http://AhliWeb.com">AhliWeb.com </a><i>(+62 811-5211-480)</i></b> <br>
					<b>Galih <i>(+62 856-0463-1812)</i></b>
				</div>
				<span style="float: right;margin-right: 100px">
				<br>
				<br>
				ttd
				<br>
				<br>
				<i>hendry, S.Kom</i>
				</span>
			</div>
			<!-- <hr> -->
			<!-- <table width="100%">
				<tbody>
					<tr>
						<td rowspan="5" style="vertical-align: top;text-align: left;">
							<img src="http://berkas.siap.id/ptk2014/302/01797/30201797100003.1411538662" style="width: 100px">
						</td>
						<td>Nama</td>
						<td>:</td>
						<td>Hendry Harianto, S.Kom</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>:</td>
						<td>kobbux@gmail.com</td>
					</tr>
					<tr>
						<td>Job Utama</td>
						<td>:</td>
						<td>Hanya Guru di kec. Arut Selatan</td>
					</tr>
					<tr>
						<td>Job Side</td>
						<td>:</td>
						<td>Jasa pembuatan applikasi berbasis web</td>
					</tr>
					<tr>
						<td style="vertical-align: top;">Skill</td>
						<td style="vertical-align: top;">:</td>
						<td>
							<ul style="margin-left: -40px;list-style: none;">
							 	<li>Web developer
							 		<ul>
							 			<li>PHP</li>
							 			<li>Node js</li>
							 			<li>AngularJS, Angular CLI</li>
							 			<li>CodeIginter</li>
							 			<li>Express js</li>
							 			<li>mysql</li>
							 			<li>MongoDB</li>
							 		</ul>
							 	</li>
							 	<li>Networking</li>
							 	<li>Multimedia</li>
							 </ul> 
						</td>
					</tr>
				</tbody>
			</table>
			<div class="quote">
				<h3 style="text-align: center;font-family: auto;font-size: 10pt;background-color: rgb(67, 75, 150);padding: 15px;color: white;">	
					<i>
					"Menerima projek pembuatan website, web sekolah, marketplace, toko online, dan lain lain, baik dari badan pemerintah maupun dari swasta, bisa contact email: kobbux@gmail.com "
					</i>
				</h3>
			</div> -->
		</div>
	</div>
</div>